(popup: "This is a quick introduction to the features of the keyboard",
slides:
[
    (instruction: "Type each of the most common letters by pressing a single switch.",
     line: Letters("htns ieoa dcrl pufm")),

    (instruction: "Type less common letters by pressing 2 switches at once.",
     line: Letters("wyjqx bgkzv")),

    (instruction: "Type numbers and punctuation with 2 switches, too.",
     line: Letters("123 .,?! (){}[]<> /\\$^%*")),

    (instruction: "You can type letters one-by-one, or type whole words at once. Try both.",
     line: Words (words: [SlideWord (names: ["key_t"], text: "t"),
                          SlideWord (names: ["key_h"], text: "h"),
                          SlideWord (names: ["key_e"], text: "e"),
                          SlideWord (names: ["key_s"], text: "s"),
                          SlideWord (names: ["key_e"], text: "e"),
                          SlideWord (names: ["word_these"], text: " these"),
                          SlideWord (names: ["word_these"], text: " these"),
     ])),

    (instruction: "If you want to write \"sheet\" instead, you can press an anagram modifier too:",
     line: Words (words: [SlideWord (names: ["key_s"], text: "s"),
                          SlideWord (names: ["key_h"], text: "h"),
                          SlideWord (names: ["key_e"], text: "e"),
                          SlideWord (names: ["key_e"], text: "e"),
                          SlideWord (names: ["key_t"], text: "t"),
                          SlideWord (names: ["word_sheet_1"], text: " sheet"),
                          SlideWord (names: ["word_these"],   text: " these"),
                          SlideWord (names: ["word_sheet_1"], text: " sheet"),
                          SlideWord (names: ["word_these"],   text: " these"),
     ])),

    (instruction: "If you accidentally typed \"these\" instead of \"sheet\", you can fix it:",
     line: Words (show_errors: false,
                  words: [SlideWord (names: ["word_these"], text: " sheet"),
                          SlideWord (names: ["command_cycle_word"]),
                  ])),

    (instruction: "Or, you could delete the word entirely:",
     line: Words (words: [SlideWord (names: ["word_these"], text: " these"),
                          SlideWord (names: ["command_delete_word"]),
     ])),
])
