[
(line: Letters("=+ #@ `~ =#` +@~ =+#@`~ ==++ ##@@ ``~~ ~`@#+=")),
(line: Letters("=+=+ @#@# +#+# @=@= @=#+ =++@= #@+@# +##@@= #==+# @@=+@")),
(line: Letters("`~ #@ ``~~ ##@@ ~`~` ~#~# @`@` @#~` ~@@~ ~`#@~ ~``# @~`~")),
(line: Letters("=+ #@ `~ =+#@`~ +@~ =#` #=+@ ~`+= @`~+ +#+# ~=~= @+@+ `=`=")),
]