[
(line: Letters("bgk kgb bbgg ggkk gkb ggkb ggbb bkbg")),
(line: Letters("book bike bee bag gig age egg bib geek beak")),
(line: Letters("zv vz vvzz zvzv vzzv zvvz")),
(line: Letters("zoo zazu zoe aziz ozzie viz viva via eve vi ova")),

(line: Letters("bgk kgb zv vz bbkkgg vvzz gzgb bkkz zgbb bgkzv zkvg vvgg bbkk gvzbk bgvzk vzgkb")),
(line: Letters("above give gave zoot gaze beak baggage evoke boogie zigzag")),
(line: Letters("bgkzv vzkgb bbggkk zzvv gvgv zbzb kzkz kgkg")),

(line: Letters("bin begin kevin singing baking van gogh biggest king")),
(line: Letters("bangkok hong kong geneva gaza kazakhstan kingston kensington kansas kiev vegas")),
(line: Letters("bgkzv vzkgb bbggkk zzvv")),

(line: Letters("visiting invasive skating viking gibson navigation veggie savage")),
(line: Letters("vintage thanksgiving knives engage sabotage signage vibe")),
(line: Letters("bgkzv vzkgb")),

(line: Letters("grand goggle great giggle greg")),
(line: Letters("kick pack knock kirk folk knicks")),
(line: Letters("bgkzv vzkgb kbvb gkgk bgbg zkzk")),
(line: Letters("viva involve veil viola love valence survive evolved")),
(line: Letters("pizza puzzle zazu plaza muzzle fuzzies")),
(line: Letters("bgkzv vzkgb")),
]
