[
(line: Letters("bgk kgb vz zv")),
(line: Letters("bgkvz zvkgb")),
(line: Letters("bib babble bauble bin")),
(line: Letters("gig grand goggle great giggle greg")),
(line: Letters("kick pack knock kirk folk knicks")),
(line: Letters("viva involve veil viola love valence survive evolved")),
(line: Letters("pizza puzzle zazu plaza muzzle fuzzies")),
(line: Letters("bgkvz zvkgb")),
]
