[
(line: Letters("wyj jyw xq xq")),
(line: Letters("wyjxq qxjyw")),
(line: Letters("wow willow wand www where window downtown warsaw")),
(line: Letters("yoyo yay mystery dynasty early years say yes")),
(line: Letters("jojo join just major journal jade reject japan project")),
(line: Letters("xoxo max next six fax mexico extra context texas")),
(line: Letters("quit square equal quarter quiet mosque question require")),
(line: Letters("wyjxq qxjyw")),
]
