[
(line: Letters("wyj jyw wwyy yyjj jwyyw wwjjy yyjjw wyj jyw wjwj yjyj wjwj")),
(line: Letters("you wow wee yew way eye yay ouija jay jewish joy jaw")),
(line: Letters("qx xq qxqx xqqx qxxq qx xq")),
(line: Letters("aqua queue eq quux ex axe exo xoxo")),

(line: Letters("wyjqx xqjyw wywy yjyj jqjq qxqx wjwj yxyx qxjq yjjy wjqw yyqq qwwj wxy yyxx qqxx jjyy wwqq")),

(line: Letters("wow willow wand www where window downtown warsaw")),
(line: Letters("wyj jyw qx xq")),
(line: Letters("yoyo yay mystery dynasty early years say yes eyewitness")),
(line: Letters("jojo join just major journal jade reject japan project")),
(line: Letters("wyjqx xqjyw")),
(line: Letters("xoxo max next six fax mexico extra context texas")),
(line: Letters("quit square equal quarter quiet mosque question require")),
(line: Letters("wyjqx xqjyw")),

(line: Letters("quay way waxy twenty sixty enjoy whitney essex white sox")),
]
