(
slides:
[
(line: Letters(".,?! ..,, ??!! !?,. .,?!")),
(line: Letters("Punctuation, and CaPiTaL Letters.")),
(line: Letters(",,.. ,.., ,,.. ??!! ?!!? !!?? !,!, ?.?. !.!. ?,?, !,,! ?..?")),
(line: Letters("A, B, C, or D?")),
(line: Letters(".?!, ,,!. ??..?? ..,, .,., ??!! !??! ,..,?! .?.!,, !?.,. ?,.!")),
(line: Letters("No. Yes! Well, maybe? Or not...")),
(line: Letters("?!.,. !!,, ??.. ,?,? !.!. ,.,. ?,!. !?!? .?.? ,!,! !?,. .,?!")),
]
)