[
(line: Letters("ieoa htns pufm dcrl bgkzv wyjqx")),
(line: Letters("the quick brown fox jumped over the lazy dog")),
(line: Letters("known kayak bangkok kentucky backstroke")),
(line: Letters("jazz blizzard grizzly yarrow quick")),
(line: Letters("dizzy")),
]