[
(line: Letters("/\\ -_ '\" /\\-_'\" //\\\\ --__ ''\"\" /\\-_'\" \"'_-\\/")),
(line: Letters("\\\\ // /\\/\\ \\/\\/ _-_- --__ _--_ _/_/ \\-\\- -_/- \\-\\/_/ -_-/\\")),
(line: Letters("-_-_ \"'\"' '_--_' \"_-_-\" \"-\"'_'\" '--' \"__\"")),
(line: Letters("''\"\" '\"'\" \"''\" \\/\\/ /'/' \\\"\\\" /-' \\_\"")),
]