[
(line: Letters("$^ &| $$^^ &&|| |&^$")),
(line: Letters("$^^$ ^$^$ $^^$ &||& |&&| &|&| |^|^ $&$& |^^| ^|^| &$&$ &|$| ^&&| $^&| |$|$")),
(line: Letters("&|&| ^$^$ |$^& |&$^ $&$& ^|^| &||& ^$$^ |^$& &$^| |^|^ $&$&")),
(line: Letters("$^&| |&^$ ^%%|^ &|$|& ^$&| ^|&$ |&|^|$|")),

// (line: Letters("$^ ;: =+ $^;:=+ $$^^ ::;; ++=="),
// (line: Letters("^$:; ^^$$ ::;; ^;:$ ;^;^ :$:$ ::^^ ;;$$ ^;:$ ;$:;")),
// (line: Letters("==++ :;:; +:;= =::= +;;+ :;=+ =:+: ;+;+; :=:=: ;++== :=;++;")),
// (line: Letters("x = 0; x += 2; x = x + 5; x == 7;")),
// (line: Letters("=+=+ ;:;: $^$^ +==+ +=+= +::+ =;;= :;+= ;=;= $+$: ^;=: ++=;")),
]