[
Slide(line: Letters("foobar")),
Slide(
  line: Words (
        words: [
            SlideWord (
                names: ["word_raw_2"],
                text: " raw",
            ),
            SlideWord (
                names: ["word_teeth_1"],
                text: " the",
                length_override: Some(6),
            ),
            SlideWord (
                names: ["command_cycle_word"],
                text: "",
            ),
        ],
  ),
),

]
