[
(line: Letters("def main():")),
(line: Letters("const uint8_t fan_control_pin = 11;")),
(line: Letters("fn get_data(&self) -> HashMap<ModeName, HashMap<Name, Chord>> {")),
(line: Letters("return abs(((int32_t) a) - ((int32_t) b)) > threshold;")),
(line: Letters("elif event.key == ord('='):")),
(line: Letters("while True: # main game loop")),
(line: Letters("if __name__=='__main__':")),
(line: Letters("#include <unistd.h>")),
(line: Letters("tcp://*:5335")),
(line: Letters("for(int i=this->cue_list.size(); i>0; i--){")),
(line: Letters("(let ((x (+ 2 (* (+ 7 4) 3)))) (message \"%d\" x))")),
(line: Letters("\"2048\".parse::<u32>()")),
(line: Letters("printf(\"%d\n\", getpid());")),
]