[
(line: Letters("ieoa aoei ioae oaie")),
(line: Letters("htns snth hnst nsht")),
(line: Letters("hat hot heat hit sit soot set sat shine shone shane sheen")),
(line: Letters("i sat on the stone seat")),
(line: Letters("hit the tennis shot in tennis shoes")),
(line: Letters("the honest one sees the hints at the heist site")),
(line: Letters("hast thou not seen the state")),
(line: Letters("the stone heats at noon")),
(line: Letters("i see it at the east ohio station")),
(line: Letters("the hot season is soon")),

]
