[
(line: Letters("ieoa aoei ioae oaie")),
(line: Letters("htns snth hnst nsht")),
(line: Letters("hat hot heat hit sit soot set sat shine shone shane sheen")),
(line: Letters("i sat on the stone seat")),
(line: Letters("the honest one sees the hints at the heist site")),
(line: Letters("hit the tennis shot in tennis shoes")),
]
