[
(line: Letters("pufm mfup ppuu ffmm fu pf mu up")),
(line: Letters("dcrl lrcd ddcc rrll rc dr lc cd")),
(line: Letters("pufm dcrl pduc frml prfu dmfl rcpm mrul lpur frmc")),
(line: Letters("real parade frame crime placid mule rude moral palace flared parole flapped")),
(line: Letters("drool leap prairie carp pummel")),
]
