[
(line: Letters(",,.. ,. ., ??!! ?! !?")),
(line: Letters("Punctuation, and Capital Letters.")),
(line: Letters("No. Yes! Well, maybe? Or not...")),
(line: Letters("A, B, C, or D.")),
(line: Letters("Hello, how are you? Can I interest you in a special offer... No?! Fine!")),
]