[
(line: Letters("{[}>](<)<}](]})(>{])[}")),
(line: Letters("..,, .,., ??!! !??! ,..,?!.?.!,,!?.,.?,.!")),
(line: Letters(";;:: :;:; ;::; ^^$$ ^$^$ $^^$ ''\"\" '\"'\" \"''\" :^\";$\":^;';$^:';^^';$;'\":$\":^;")),
(line: Letters("//\\\\ /\\/\\ \\/\\/ __-- _-_- _--_ ==++ =+=+ +==+ \\_+=_=/-+/\\_=/_-\\+_\\-/")),
(line: Letters("%%** %*%* *%%* &&|| &|&| |&&| *%|&%%|*|&*%|*&*|%%%*%&|")),
(line: Letters("``~~ `~`~ ~``~ ##@@ #@#@ @##@ @#~`#`~@@`m``#~@~``##@~")),
(line: Letters("#:\"**- >=.*^- |/:`'| ;(^;?& @.];:) ?/%+~} [%`}`> {!|;,^ ^@%%{) *#@!(. \"|,?$/ ;,($=] $,.#&? @[\\!|: _'`%_% }<.\\+^ ~]^#m* `<~_/~ ,;}|@_ \\',\"=% -\\.'_* ):`#\"& .]%~+` $@!;")),
]